In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import re
import xml.sax.saxutils as saxutils

from bs4 import BeautifulSoup

from gensim.models.word2vec import Word2Vec

from multiprocessing import cpu_count

from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer, sent_tokenize
from nltk.stem import WordNetLemmatizer

from pandas import DataFrame

from sklearn.model_selection import train_test_split
import random
import numpy as np
import pandas as pd

# General constants (modify them according to you environment)

In [3]:
# Set Numpy random seed
random.seed(1000)

# Newsline folder and format
data_folder = './reuters21578/'

sgml_number_of_files = 22
sgml_file_name_template = 'reut2-NNN.sgm'

# Category files
category_files = {
    'to_': ('Topics', 'all-topics-strings.lc.txt'),
    'pl_': ('Places', 'all-places-strings.lc.txt'),
    'pe_': ('People', 'all-people-strings.lc.txt'),
    'or_': ('Organizations', 'all-orgs-strings.lc.txt'),
    'ex_': ('Exchanges', 'all-exchanges-strings.lc.txt')
}

# Word2Vec number of features
num_features = 500
# Limit each newsline to a fixed number of words
document_max_num_words = 100
# Selected categories
selected_categories = ['pl_usa', 'to_earn', 'to_acq', 'pl_uk', 'pl_japan', 'pl_canada', 'to_money-fx', 'to_crude', 'to_grain', 'pl_west-germany']

# Prepare documents and categories

In [4]:
# Create category dataframe

# Read all categories
category_data = []

for category_prefix in category_files.keys():
    with open(data_folder + category_files[category_prefix][1], 'r') as file:
        for category in file.readlines():
            category_data.append([category_prefix + category.strip().lower(), 
                                  category_files[category_prefix][0], 
                                  0])

# Create category dataframe
news_categories = DataFrame(data=category_data, columns=['Name', 'Type', 'Newslines'])

In [5]:
news_categories

           Name       Type  Newslines
0        to_acq     Topics          0
1       to_alum     Topics          0
2    to_austdlr     Topics          0
3    to_austral     Topics          0
4     to_barley     Topics          0
..          ...        ...        ...
667     ex_stse  Exchanges          0
668     ex_tose  Exchanges          0
669      ex_tse  Exchanges          0
670      ex_wce  Exchanges          0
671      ex_zse  Exchanges          0

[672 rows x 3 columns]

In [6]:
def update_frequencies(categories):
    for category in categories:
        idx = news_categories[news_categories.Name == category].index[0]
        f = news_categories._get_value(idx, 'Newslines')
        news_categories._set_value(idx, 'Newslines', f+1)
    
def to_category_vector(categories, target_categories):
    vector = np.zeros(len(target_categories)).astype(np.float32)
    
    for i in range(len(target_categories)):
        if target_categories[i] in categories:
            vector[i] = 1.0
    
    return vector

In [7]:
# Parse SGML files
document_X = {}
document_Y = {}

def strip_tags(text):
    return re.sub('<[^<]+?>', '', text).strip()

def unescape(text):
    return saxutils.unescape(text)

# Iterate all files
for i in range(sgml_number_of_files):
    if i < 10:
        seq = '00' + str(i)
    else:
        seq = '0' + str(i)
        
    file_name = sgml_file_name_template.replace('NNN', seq)
    print('Reading file: %s' % file_name)
    
    with open(data_folder + file_name, 'rb') as file:
        content = BeautifulSoup(file.read().lower())
        
        for newsline in content('reuters'):
            document_categories = []
            
            # News-line Id
            document_id = newsline['newid']
            
            # News-line text
            document_body = strip_tags(str(newsline('text')[0].body)).replace('reuter\n&#3;', '')
            document_body = unescape(document_body)
            
            # News-line categories
            topics = newsline.topics.contents
            places = newsline.places.contents
            people = newsline.people.contents
            orgs = newsline.orgs.contents
            exchanges = newsline.exchanges.contents
            
            for topic in topics:
                document_categories.append('to_' + strip_tags(str(topic)))
                
            for place in places:
                document_categories.append('pl_' + strip_tags(str(place)))
                
            for person in people:
                document_categories.append('pe_' + strip_tags(str(person)))
                
            for org in orgs:
                document_categories.append('or_' + strip_tags(str(org)))
                
            for exchange in exchanges:
                document_categories.append('ex_' + strip_tags(str(exchange)))
                
            # Create new document    
            update_frequencies(document_categories)
            
            document_X[document_id] = document_body
            document_Y[document_id] = to_category_vector(document_categories, selected_categories)

Reading file: reut2-000.sgm
Reading file: reut2-001.sgm
Reading file: reut2-002.sgm
Reading file: reut2-003.sgm
Reading file: reut2-004.sgm
Reading file: reut2-005.sgm
Reading file: reut2-006.sgm
Reading file: reut2-007.sgm
Reading file: reut2-008.sgm
Reading file: reut2-009.sgm
Reading file: reut2-010.sgm
Reading file: reut2-011.sgm
Reading file: reut2-012.sgm
Reading file: reut2-013.sgm
Reading file: reut2-014.sgm
Reading file: reut2-015.sgm
Reading file: reut2-016.sgm
Reading file: reut2-017.sgm
Reading file: reut2-018.sgm
Reading file: reut2-019.sgm
Reading file: reut2-020.sgm
Reading file: reut2-021.sgm

In [8]:
type(document_X)

dict

In [9]:
document_Y

{'1': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '2': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '3': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '4': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '5': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '6': array([0., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '7': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '8': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '9': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '10': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '11': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '12': array([1., 1., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '13': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '14': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '15': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '16': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '17': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '18': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '19': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '20': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '21': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '22': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '23': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '24': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '25': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '26': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '27': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '28': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '29': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '30': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '31': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '32': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '33': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '34': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '35': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '36': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '37': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '38': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '39': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '40': array([0., 1., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '41': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '42': array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '43': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '44': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '45': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '46': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '47': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '48': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '49': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '50': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '51': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '52': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '53': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '54': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '55': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '56': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '57': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '58': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '59': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '60': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '61': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '62': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '63': array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '64': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '65': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '66': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '67': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '68': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '69': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '70': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '71': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '72': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '73': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '74': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '75': array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '76': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '77': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '78': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '79': array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '80': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '81': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '82': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '83': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '84': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '85': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '86': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '87': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '88': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '89': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '90': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '91': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '92': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '93': array([0., 1., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '94': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '95': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '96': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '97': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '98': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '99': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '100': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '101': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '102': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '103': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '104': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '105': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '106': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '107': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '108': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '109': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '110': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '111': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '112': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '113': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '114': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '115': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '116': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '117': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '118': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '119': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '120': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '121': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '122': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '123': array([0., 1., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '124': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '125': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '126': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '127': array([1., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '128': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '129': array([0., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '130': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '131': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '132': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '133': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '134': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '135': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '136': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '137': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '138': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '139': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '140': array([0., 1., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '141': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '142': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '143': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '144': array([1., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '145': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '146': array([0., 1., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '147': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '148': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '149': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '150': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '151': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '152': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '153': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '154': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '155': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '156': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '157': array([0., 0., 1., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '158': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '159': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '160': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '161': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '162': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '163': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '164': array([0., 1., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '165': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '166': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '167': array([0., 1., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '168': array([0., 1., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '169': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '170': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '171': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '172': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '173': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '174': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '175': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '176': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '177': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '178': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '179': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '180': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '181': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '182': array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '183': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '184': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '185': array([0., 0., 1., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '186': array([0., 0., 1., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '187': array([0., 1., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '188': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '189': array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '190': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '191': array([0., 0., 0., 0., 0., 1., 0., 1., 0., 0.], dtype=float32),
 '192': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '193': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '194': array([1., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '195': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '196': array([0., 1., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '197': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '198': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '199': array([1., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '200': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '201': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '202': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '203': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '204': array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32),
 '205': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '206': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '207': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '208': array([1., 0., 0., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '209': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '210': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '211': array([1., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '212': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '213': array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '214': array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '215': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '216': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '217': array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '218': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '219': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '220': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '221': array([0., 0., 0., 0., 1., 0., 1., 0., 0., 0.], dtype=float32),
 '222': array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '223': array([1., 0., 0., 1., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '224': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '225': array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '226': array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '227': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '228': array([0., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '229': array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '230': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '231': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '232': array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '233': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '234': array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '235': array([0., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '236': array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '237': array([1., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '238': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '239': array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '240': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '241': array([0., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '242': array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '243': array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '244': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '245': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '246': array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '247': array([0., 0., 0., 0., 0., 0., 1., 0., 0., 0.], dtype=float32),
 '248': array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '249': array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '250': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '251': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '252': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '253': array([0., 0., 0., 0., 0., 1., 0., 0., 1., 0.], dtype=float32),
 '254': array([1., 0., 0., 0., 0., 0., 0., 0., 1., 0.], dtype=float32),
 '255': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '256': array([0., 0., 0., 0., 0., 0., 1., 0., 0., 0.], dtype=float32),
 '257': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '258': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '259': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '260': array([0., 0., 1., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '261': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '262': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '263': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '264': array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '265': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '266': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '267': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '268': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '269': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '270': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '271': array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '272': array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),
 '273': array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32),
 '274': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '275': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '276': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '277': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 '278': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 1.], dtype=float32),
 '279': array([0., 1., 0., 0., 1., 0., 0., 0., 0., 0.], dtype=float32),

# Top 20 categories (by number of newslines)

In [10]:
news_categories.sort_values(by='Newslines', ascending=False, inplace=True)
news_categories.head(20)

                Name           Type  Newslines
296           pl_usa         Places      12542
35           to_earn         Topics       3987
0             to_acq         Topics       2448
293            pl_uk         Places       1489
219         pl_japan         Places       1138
166        pl_canada         Places       1104
73       to_money-fx         Topics        801
28          to_crude         Topics        634
45          to_grain         Topics        628
302  pl_west-germany         Places        567
126         to_trade         Topics        552
55       to_interest         Topics        513
191        pl_france         Places        469
587            or_ec  Organizations        349
158        pl_brazil         Places        332
130         to_wheat         Topics        306
108          to_ship         Topics        305
145     pl_australia         Places        270
19           to_corn         Topics        254
172         pl_china         Places        223

In [11]:
header = ['text'] + selected_categories

In [12]:
Y = pd.DataFrame(np.array(list(document_Y.values()))[:,:10], columns=['pl_usa', 'to_earn', 'to_acq', 'pl_uk', 'pl_japan', 'pl_canada', 'to_money-fx', 'to_crude', 'to_grain', 'pl_west-germany'])
Y['id']=Y.index

In [13]:
X = pd.DataFrame(np.array(list(document_X.values())), columns=['text'])
X['id']=X.index

In [14]:
X.columns

Index(['text', 'id'], dtype='object')

In [15]:
df=pd.merge(left=X, right=Y, on='id').drop('id', axis=1)

In [17]:
df['y']=df.iloc[:,1:10].sum(axis=1)

In [18]:
df.loc[df['y'] != 0,:].iloc[:,:10].head(5)

,text,pl_usa,to_earn,to_acq,pl_uk,pl_japan,pl_canada,to_money-fx,to_crude,to_grain
0,showers continued throughout the week in\nthe ...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,standard oil co and bp north america\ninc said...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,texas commerce bancshares inc's texas\ncommerc...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,bankamerica corp is not under\npressure to act...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,the u.s. agriculture department\nreported the ...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [21]:
df.loc[df['y'] != 0,:].iloc[:2000,:10].to_csv('reuters_10class_2000.csv', index=False)