In [1]:
import pandas as pd
import numpy as np

## 导入数据

In [2]:
Data_File = "./data/ohsumed-file-abstract-category.csv"
df = pd.read_csv(Data_File)

In [3]:
df.head()

,file_name,title_abstract,C08,C06,C01,C07,C09,C14,C13,C22,...,C04,C03,C10,C17,C21,C19,C18,C20,C16,C11
0,42408,Evaluation of 99Tcm Technegas ventilation scin...,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,45847,Cardiorespiratory effects of pressure controll...,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,43982,Lung function in school-age children who had m...,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,42850,Comparison of expandable endotracheal stents i...,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,8272,Improved outcome at 28 days of age for very lo...,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### 对category进行求和

In [4]:
columns = df.columns

In [5]:
for column in columns[2:]:
    df[column] = df[column].apply(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34389 entries, 0 to 34388
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   file_name       34389 non-null  int64
 1   title_abstract  34389 non-null  object
 2   C08             34389 non-null  int64
 3   C06             34389 non-null  int64
 4   C01             34389 non-null  int64
 5   C07             34389 non-null  int64
 6   C09             34389 non-null  int64
 7   C14             34389 non-null  int64
 8   C13             34389 non-null  int64
 9   C22             34389 non-null  int64
 10  C23             34389 non-null  int64
 11  C12             34389 non-null  int64
 12  C15             34389 non-null  int64
 13  C02             34389 non-null  int64
 14  C05             34389 non-null  int64
 15  C04             34389 non-null  int64
 16  C03             34389 non-null  int64
 17  C10             34389 non-null  int64
 18  C17             34389 non-null  int64
 19  C21             34389 non-null  int64
 20  C19             34389 non-null  int64
 21  C18             34389 non-null  int64
 22  C20             34389 non-null  int64
 23  C16             34389 non-null  int64
 24  C11             34389 non-null  int64
dtypes: int64(24), object(1)
memory usage: 6.6+ MB

In [6]:
dict = {}
for column in columns[2:]:
    dict[column] = df[column].sum()
print(dict)
# df = df.sort_values('column_sum')
# df.head()
dict = { k:v for k,v in sorted(dict.items(),key=lambda item:item[1],reverse=True)}

{'C08': 2589, 'C06': 2989, 'C01': 2540, 'C07': 526, 'C09': 715, 'C14': 6102, 'C13': 1623, 'C22': 506, 'C23': 9611, 'C12': 2518, 'C15': 1277, 'C02': 1171, 'C05': 1678, 'C04': 6327, 'C03': 427, 'C10': 3851, 'C17': 1617, 'C21': 2933, 'C19': 865, 'C18': 1919, 'C20': 3116, 'C16': 1086, 'C11': 998}

In [7]:
save_column = [columns[1]]+list(dict.keys())[:4]
print(save_column)

['title_abstract', 'C23', 'C04', 'C14', 'C10']

In [24]:
# random_number = np.random.randint(0,34389,size=[1000,]).tolist()
# print(random_number)

new_df = df[save_column]
count = new_df.iloc[:,1:].sum(axis=1)
row_list = []
for key,value in count.items():
    if len(row_list) >= 2000:
        break
    if value > 0:
        row_list.append(key)

new_df = new_df.loc[row_list,save_column]
# count.head()
new_df.head()

                                       title_abstract  C23  C04  C14  C10
2   Lung function in school-age children who had m...    1    0    0    0
5   Pulmonary aspiration during emergency endoscop...    1    0    0    0
7   In vitro evaluation of bleomycin-induced cell ...    0    1    0    0
8   MRI of the paranasal sinuses: incidental abnor...    0    1    0    0
10  The causes of hospital-treated acute lower res...    1    0    0    0

In [25]:
new_df.to_csv('./data/new_data.csv',index=False)
print('Finish')

Finish